<article>
<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h2>Your Play Later List</h2>
<table>
  <tr>
    <th> Quiz </th>
    <th> Language </th>
  </tr> 
  <%= render(list.line_items) %>  
</table>
<%= button_to 'Empty list', list, 
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
</article>

