<%= form_with(model: attempt, local: true) do |form| %>

  <h1><%= @attempt.quiz.title %></h1>
  <div id='question-component'></div>

  <div class="actions">
    <%= form.submit "Submit Quiz"%> 
  </div>
<% end %>
